@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.svg");
    src: url("fonts/LAKESHOR-webfont.woff")
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.svg");
    src: url("fonts/Airstream-webfont.woff")
}

:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.30);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(180deg, rgb(144, 186, 213), rgb(233, 246, 254));
    margin: 0;
}

.logo {
    font-size: 1.5em;
    color: rgb(11, 54, 89);
    background-color: rgb(87, 161, 230);
    display: block;
    text-align: center;
    font-family: lakeshore;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    position: relative;

}

.details-image {
    width: 95vw;
    height: 50vw;
    border-radius: 10%;
    border: solid 1px rgb(28, 59, 82);
    object-fit: cover;
}

.details-title {
    display: block;
    font-family: airstream;
    font-size: 1.7em;
    color: rgb(29, 77, 116);
    background-color: azure;
    position: absolute;
    left: 0;
    bottom: 8vw;
}

.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    padding-left: 0;
}

.thumbnails-item {
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    border: solid 1px rgb(28, 59, 82);
    border-radius: 10%;
    overflow: hidden;
   
}
.thumbnails-item{
    margin: 0.7em;
}
.thumbnails-item:hover{
    transform: scale(1.1);
}


.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
    object-fit: cover;
}

.thumbnails-title {
    display: block;
    text-align: center;
    height: var(--thumbnails-title-height);
    background-color: rgb(222, 251, 255);
    color: rgb(37, 52, 100);
    font-size: 1em;
}

.thumbnails-anchor {
    text-decoration: none;
}

@media (min-width: 560px) {
    :root {
        --thumbnails-img-width: 12vw;
        --thumbnails-img-height: 8vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.30)
    }
    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 80vh;
        order: -1;
        justify-content: flex-start;

    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;

    }

    .details-image {
        width: 55vw;
        height: 30vw;
    }

    .details-container {
        justify-content: center;
    }
    .thumbnails-title{
        font-size: 1em;
    }

}

@media(min-width: 900px) {
    :root {
        --thumbnails-img-width: 10vw;
        --thumbnails-img-height: 6vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
    }
    .thumbnails-title {
        font-size: 1em;
    }

    .thumbnails-list {
        max-height: 80vh;
        margin-top: 2.5vh;
    }
    
    .details-container {
        margin-top: 5vh;
        margin-right: 5vw;
    }
    
}