@font-face {
    font-family: lakeshore;
    src: url("fonts/LAKESHOR-webfont.woff");
}
@font-face {
    font-family: airstream;
    src: url("fonts/Airstream-webfont.woff");
}

:root {
    --thumbnails-img-width: 20vw;
    --thumbnails-img-height: 15vw;
    --thumbnails-title-height: calc(var(--thumbnails-img-height) * 0.33);
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: azure;
    margin: 0;
}

.logo {
    font-size: 2em;
    background-color: rgb(177, 206, 231);
    text-align: center;
    display: block;
    font-family: lakeshore;
    text-transform: uppercase;
}

.main-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
   
}
.details-frame{
    position: relative;
}

.details-image {
    width: 95vw;
    height: 70vw;
    border-radius: 15%;
    object-fit: cover;
}

.details-title {
    display: block;
    font-family: airstream;
    font-style: italic;
    background-color: rgb(180, 252, 252);
    position: absolute;
    left: 3vw;
    bottom: 2vw;
    
}

.thumbnails-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 25vh;
    overflow-y: auto;
    justify-content: space-around;
    gap: 10px;
    padding-left: 0;
}

.thumbnails-item {
    max-width: var(--thumbnails-img-width);
    min-height: calc(var(--thumbnails-img-height) + var(--thumbnails-title-height));
    border: solid 1.5px;
    border-color: rgb(120, 97, 66);
    border-radius: 12px;
    overflow: hidden;
}

.thumbnails-anchor {
    text-decoration: none;
}

.thumbnails-image {
    width: var(--thumbnails-img-width);
    height: var(--thumbnails-img-height);
    display: block;
    object-fit: cover;
}

.thumbnails-title {
    display: block;
    text-align: center;
    height: var(--thumbnails-title-height);
    background-color: antiquewhite;
}
.thumbnails-item:hover{
    transform: scale(1.1);
}

@media (min-width: 560px) {
    :root {
        --thumbnails-img-width: 12vw;
        --thumbnails-img-height: 8vw;
        --thumbnails-title-height: calc(var(--thumbnails-img-height)* 0.25)
    }

    .logo {
        font-size: 1.8em;
    }

    .thumbnails-list {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 75vh;
        order: -1;
        justify-content: flex-start;
    }

    .main-class {
        flex-direction: row;
        justify-content: space-around;

    }

    .details-image {
        margin-top: 3vw;
        width: 45vw;
        height: 38vw;
    }

    .details-container {
        justify-content: center;
        align-items: center;
      
    }
    .details-title{
        left: 0;
        bottom: 4vw;
    }
}

@media (min-width: 900px) {
    .thumbnails-list {
        padding-right: 2vw;
        margin-top: 2.5vh;
        max-height: 86vh;
    }

    .thumbnails-title {
        font-size: 1.5em;
    }

    .details-title {
        font-size: 1.5em;
    }

    .details-image {
        width: 45vw;
        height: 35vw;
    }
}